@use "sass:map";
$marine-blue: hsl(213, 96%, 18%);                 $purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
                                                  $cool-gray: hsl(231, 11%, 63%);                   $light-gray: hsl(229, 24%, 87%);                  $magnolia: hsl(217, 100%, 97%);                   $alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);                         


$colors: (
 "marine-blue": $marine-blue,
 "purplish-blue": $purplish-blue,
 "pastel-blue": $pastel-blue,
 "light-blue": $light-blue,
"strawberry-red": $strawberry-red,             
"cool-gray": $cool-gray,
"light-gray": $light-gray,
"magnolia": $magnolia,
"alabaster": $alabaster,
"white": $white,

);

@each $clr, $val in $colors {
	.text-#{$clr} {
		color: $val;
	}
	.bg-#{$clr} {
		background-color: $val;
	}
}

