


#stepperSection {
	//border: 5px dotted red;
	height: 24vh;
	background-image: url(/images/bg-sidebar-mobile.svg);
	background-attachment: scroll;
	background-size: 100%;
	background-repeat: no-repeat;
	background-clip: border-box;
	ul {
		//border: 1px solid blue;
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		padding: 1rem 0;
		li {
			//border: 1px solid green;
			&:not(:last-child){
				margin-right: 1rem;
			}
			.step {
				border: 1.5px solid $white;
				border-radius: 50%;
				width: 2rem;
				height: 2rem;

				display: flex;
				justify-content: center;
				align-items: center;
				color: $alabaster;
				font: {
					size:.85rem;
					weight: 700;
				}
				
			}
			@include mobile {
				.headings {
					display: none;
				}
			}
		}


	}
	@include desktop {
		height: 100%;
		background-image: url("/images/bg-sidebar-desktop.svg");
		background-size: cover;
		//background-position: 0 -80px;
		//border: 1px solid red;
		border-radius: 10px;
		flex-shrink: 0;
		padding: 2rem 1rem;
		width: 35%;
		ul {
			flex-flow: column nowrap;
			align-items: flex-start;
			

			li {
				display: flex;
				align-items: center;
				margin-top: 1rem;
				&:first-child {
					margin-top:0;
				}


				/*&:not(:last-child){
					margin-right: 0;
				}*/

				.step {
					margin-right: 1rem;
				}
				 .headings {
					 display: flex;
					 flex-flow: column nowrap;
					 .sub-heading {
						 color: $light-gray;
					 }
					 .heading {
						 color: $alabaster;
						 font-weight: 700;
					 }



				 }

			}
			


		}


		
	}



}

.active {
	color: $marine-blue !important;
	background-color: $light-blue;
	border: 1.5px solid $light-blue !important;


 }
