

#successFeedback {
	//border: 1px solid red;
	padding: 1rem;
	main {
		border: 1px solid $alabaster;
                box-shadow: 1px 2px 5px rgba(0,0,0
,.1);
                background-color: $alabaster;                     border-radius: 10px;
                padding:1rem .8rem;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		object {
			margin-top: 3rem;
			width: 55px;
		}
		h1 {
			color: $marine-blue;
			margin-top: 1rem;
			text-align: center;
			font: {
				size: 1.5rem;
				weight: 700;
			}
		}
		p {
			text-align: center;;
			color: $cool-gray;
			margin-top: .5rem;
			margin-bottom: 3rem;

		}



	}
	@include desktop {
		margin: auto;
		
		main {
			box-shadow: none;
		}
	}
	


}
